{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-useless-escape": "off",
    "import/prefer-default-export": "off",
    // "import/no-default-export": "warm",
    "import/no-unresolved": "off"
    // "react/jsx-props-no-spreading": "off"
  },
  "overrides": [
    {
      "files": [
        //"./src/pages/*.jsx",
        "./src/pages/*.js"
      ],
      "rules": {
        "no-unused-expressions": "off"
        // "import/no-default-export": "off"
      }
    },
    {
      "files": [
        "gatsby-browser.js"
      ],
      "rules": {
        // "react/jsx-filename-extension": "off"
      }
    }
  ]
}
